# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter artefacts
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Build / distribution
dist/
build/

# Logs
*.log

